# = = = = = = = = = Infinix Hot 9 X655C - Microtrust TEE + Beanpod Keymaster = = = = = = = = = #

on early-init
    mkdir /mnt/vendor 0755 root root
    mkdir /mnt/vendor/persist 0755 root root
    mkdir /mnt/vendor/nvdata 0755 root root
    mkdir /mnt/vendor/nvcfg 0755 root root
    mkdir /mnt/vendor/protect_f 0755 root root
    mkdir /mnt/vendor/protect_s 0755 root root

on fs
    # Mount security partitions
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist
    mount ext4 /dev/block/platform/bootdevice/by-name/nvdata /mnt/vendor/nvdata
    mount ext4 /dev/block/platform/bootdevice/by-name/nvcfg /mnt/vendor/nvcfg
    mount ext4 /dev/block/platform/bootdevice/by-name/protect1 /mnt/vendor/protect_f
    mount ext4 /dev/block/platform/bootdevice/by-name/protect2 /mnt/vendor/protect_s

    # Permissions
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist

    mkdir /mnt/vendor/persist/rpmb
    chown system system /mnt/vendor/persist/rpmb
    chmod 0771 /mnt/vendor/persist/rpmb
    restorecon_recursive /mnt/vendor/persist/rpmb

    chown system system /mnt/vendor/protect_f
    chmod 0770 /mnt/vendor/protect_f
    chown system system /mnt/vendor/protect_s
    chmod 0770 /mnt/vendor/protect_s
    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg
    restorecon_recursive /mnt/vendor/nvcfg
    chown root system /mnt/vendor/nvdata
    chmod 0771 /mnt/vendor/nvdata
    mkdir /mnt/vendor/nvdata/media 0771 media audio
    restorecon_recursive /mnt/vendor/nvdata

    # Start service managers
    start servicemanager
    start hwservicemanager
    start vndservicemanager
    wait_for_prop hwservicemanager.ready true

    # Start TEE daemon
    start teei_daemon

on post-fs
    # /data/vendor/thh tree
    mkdir /data 0771 system system
    mkdir /data/vendor 0771 root root
    mkdir /data/vendor/thh 0755 system system
    mkdir /data/vendor/thh/system 0755 system system
    mkdir /data/vendor/thh/tee_00 0755 system system
    mkdir /data/vendor/thh/tee_01 0755 system system
    mkdir /data/vendor/thh/tee_02 0755 system system
    mkdir /data/vendor/thh/tee_03 0755 system system
    mkdir /data/vendor/thh/tee_04 0755 system system
    mkdir /data/vendor/thh/tee_05 0755 system system
    mkdir /data/vendor/thh/tee_06 0755 system system
    mkdir /data/vendor/thh/tee_07 0755 system system
    mkdir /data/vendor/thh/tee 0755 system system
    mkdir /data/vendor/thh/tee/tas 0755 system system
    mkdir /data/vendor/thh/tee_08 0755 system system
    mkdir /data/vendor/thh/tee_09 0755 system system
    mkdir /data/vendor/thh/tee_0A 0755 system system
    mkdir /data/vendor/thh/tee_0B 0755 system system
    mkdir /data/vendor/thh/tee_0C 0755 system system
    mkdir /data/vendor/thh/tee_0D 0755 system system
    mkdir /data/vendor/thh/tee_0E 0755 system system
    mkdir /data/vendor/thh/tee_0F 0755 system system
    mkdir /data/vendor/thh/ta 0755 system system
    mkdir /data/vendor/key_provisioning 0771 system system
    restorecon_recursive /data/vendor/thh

# = = = = = = = = = DECRYPTION CHAIN = = = = = = = = = #

on property:init.svc.teei_daemon=running
    wait_for_prop vendor.microtrust.tee.ready true
    start vendor.keymaster-4-0-beanpod
    start vendor.gatekeeper-1-0

on property:init.svc.vendor.keymaster-4-0-beanpod=running
    exec_background /system/bin/sh -c "sleep 2"
    start vold

on property:init.svc.vold=running
    start keystore

# = = = = = = = = = DECRYPTION TRIGGERS = = = = = = = = = #

on property:vold.decrypt=trigger_restart_framework
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vold 0700 root root
    mkdir /data/misc/gatekeeper 0700 system system
    mkdir /data/system 0775 system system
    mkdir /data/system_ce 0770 system system
    mkdir /data/system_de 0770 system system
    mkdir /data/misc_ce 01771 system misc
    mkdir /data/misc_de 01771 system misc
    mkdir /data/vendor_ce 0771 root root
    mkdir /data/vendor_de 0771 root root
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    setprop vold.post_fs_data_done 1

on property:vold.decrypt=trigger_restart_min_framework
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vold 0700 root root
    mkdir /data/misc/gatekeeper 0700 system system
    mkdir /data/system 0775 system system
    mkdir /data/system_ce 0770 system system
    mkdir /data/system_de 0770 system system
    mkdir /data/misc_ce 01771 system misc
    mkdir /data/misc_de 01771 system misc
    mkdir /data/vendor_ce 0771 root root
    mkdir /data/vendor_de 0771 root root
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system

on property:vold.decrypt=trigger_reset_main
    stop vold

on property:vendor.crypto.fake_encrypt=1 && property:vold.post_fs_data_done=1
    setprop vendor.soter.teei.crypto.state unencrypted

on property:vold.decrypt=trigger_post_fs_data
    setprop vold.post_fs_data_done 1

# = = = = = = = = = SERVICES = = = = = = = = = #

service teei_daemon /vendor/bin/teei_daemon \
    -r 020b0000000000000000000000000000 \
    -r 020f0000000000000000000000000000 \
    -r 06090000000000000000000000000000 \
    -r 05120000000000000000000000000000 \
    -r 40188311faf343488db888ad39496f9a \
    -r 07060000000000000000000000007169 \
    -r 9073f03a9618383bb1856eb3f990babd \
    -r 08050000000000000000000000003419 \
    -r 5020170115e016302017012521300000 \
    -r 0f5eed3c3b5a47afacca69a84bf0efad \
    -r 07407000000000000000000000000000 \
    -r 05160000000000000000000000000000 \
    -r 91dba524a6e24909acc48abd7163121a \
    -r 08030000000000000000000000000000 \
    -r 85f630e0f0964c5fa2cc268ce04e3da3 \
    -r 98fb95bcb4bf42d26473eae48690d7ea \
    -r 7b66512021214487ba710a51d7ea78fe \
    -r 09010000000000000000000000000000
    class core
    user system
    group system
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    export LD_LIBRARY_PATH /system_root/system/lib64/vndk-29:/system_root/system/lib64/vndk-sp-29:/system/lib64:/vendor/lib64:/system_root/system/lib/vndk-29:/system_root/system/lib/vndk-sp-29:/system/lib:/vendor/lib:/sbin
    class early_hal
    user system
    group system drmrpc
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    export LD_LIBRARY_PATH /system_root/system/lib64/vndk-29:/system_root/system/lib64/vndk-sp-29:/system/lib64:/vendor/lib64:/system_root/system/lib/vndk-29:/system_root/system/lib/vndk-sp-29:/system/lib:/vendor/lib:/sbin
    class hal
    user system
    group system
    disabled
    seclabel u:r:recovery:s0
