import /init.recovery.microtrust.rc

on early-init
    # Disable SELinux early so your shell script can execute raw binaries
    write /sys/fs/selinux/enforce 0
    setprop selinux.reload_policy 0

on init
    setprop sys.init_fatal_vold.reboot 0

on fs
    write /sys/class/udc/musb-hdrc/device/cmode 1
    
    # Mount only basic data storage raw blocks
    wait /dev/block/platform/bootdevice/by-name/md_udc
    mount ext4 /dev/block/platform/bootdevice/by-name/md_udc /metadata noatime,nosuid,nodev,discard
    restorecon_recursive /metadata
    mkdir /metadata/vold 0700 root root
    restorecon /metadata/vold

on post-fs
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Grant execution rights to your override script and launch it instantly
    chmod 0755 /sbin/foxstart.sh
    exec /sbin/foxstart.sh
