import /init.recovery.microtrust.rc

on early-init
    write /sys/fs/selinux/enforce 0
    setprop selinux.reload_policy 0

on init
    mkdir /tmp 0777 root root
    restorecon /tmp
    mount /dev/block/mapper/system /system_root
    mount /dev/block/mapper/vendor /vendor    
    mount /dev/block/mapper/product /product

    mkdir /dev/cpuset 0750 root system
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset/foreground 0750 root system
    mkdir /dev/cpuset/background 0750 root system
    mkdir /dev/cpuset/system-background 0750 root system
    mkdir /dev/cpuset/top-app 0750 root system
    write /dev/cpuset/foreground/tasks 1
    write /dev/cpuset/background/tasks 1
    write /dev/cpuset/system-background/tasks 1

    mkdir /dev/cg2_bpf 0750 root system
    mount cgroup2 none /dev/cg2_bpf nodev noexec nosuid

    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.controller musb-hdrc
    setprop ro.boot.usbcontroller musb-hdrc
    setprop sys.init_fatal_vold.reboot 0
    export LD_LIBRARY_PATH /system_root/system/lib64/vndk-29:/system_root/system/lib64/vndk-sp-29:/system/lib64:/vendor/lib64:/system_root/system/lib/vndk-29:/system_root/system/lib/vndk-sp-29:/system/lib:/vendor/lib:/sbin

on fs
    write /sys/class/udc/musb-hdrc/device/cmode 1
    mount ext4 /dev/block/platform/bootdevice/by-name/md_udc /metadata noatime,nosuid,nodev,discard
    restorecon_recursive /metadata
    
    # Ensure vold metadata dir exists
    mkdir /metadata/vold 0700 root root
    restorecon /metadata/vold

on post-fs
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on boot
    chmod 0666 /dev/input/event0
    chmod 0666 /dev/input/event1
    chmod 0666 /dev/input/event2
    chmod 0666 /dev/input/event3
    chmod 0666 /dev/input/event4
    chmod 0666 /dev/input/event5

on post-fs-data
    start logd

# = = = = = = GLOBAL SERVICES = = = = = = #

service servicemanager /system/bin/servicemanager
    class core
    user system
    group system readproc
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    class core
    user system
    group system readproc
    onrestart setprop hwservicemanager.ready false
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    class core
    user system
    group system readproc
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service logd /system/bin/logd
    class core
    user logd
    group logd system package_info readproc
    capabilities SYSLOG AUDIT_CONTROL
    priority 10
    seclabel u:r:logd:s0

service vold /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    class core
    ioprio be 2
    shutdown critical
    group root reserved_disk
    disabled
    seclabel u:r:vold:s0

service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service wait_for_keymaster /system/bin/wait_for_keymaster
    user root
    group root system
    priority -20
    ioprio rt 0
    oneshot
    disabled
    seclabel u:r:recovery:s0
